@using RestaurantGuide.Models
@model PlaceViewModels

@{
    ViewData["Title"] = "Details";
}

<h3>Details</h3>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MainPhotoPath)
        </dt>
        <dd>
            <img src="~/@Model.MainPhotoPath" />
        </dd>
    </dl>
</div>

<h3>Gallery</h3>
<div>
    <div>
        @foreach (var item in Model.Photos)
        {
            <img src="~/@item.FilePath" />
        }
    </div>
</div>
<hr />

<h3>Rating</h3>
<div>
    @Html.DisplayFor(model => model.Rating)
</div>
<hr />

<h3>Reviews</h3>
<div id="reviewList">
    @foreach (var item in Model.Reviews)
    {
        <div class="reviewItem">
            <div>On @item.Date, @item.UserName said: </div>
            <div>@item.Text</div>
            <div>@item.Rating</div>
        </div>
    }
</div>

<h3>Add review</h3>
<div id="review">
    <textarea id="reviewText"></textarea>
    <select id="reviewRating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <input type="button" value="Submit review" onclick="sendReview(@Model.Id)" />
</div>
<hr />

<h3>Upload new photo</h3>
<form id="formdata" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            <input type="file" id="filesUpload" name="files" multiple class="form-control" accept="image/*" />
            <input type="hidden" id="placeId" name="placeId" value="@Model.Id"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="padding-top:10px;">
            <input type="submit" id="btnUpload" value="Upload" />
        </div>
    </div>
</form>


@section Scripts{
    <script>
        function sendReview(placeId) {
            $.ajax({
                url: '@Url.Action("Create", "Review")',
                type: 'POST',
                data: { 'reviewText': $('#reviewText').val(), 'reviewRating': $('#reviewRating').val(), 'placeId': placeId },
                success: function (data) {
                    $('#reviewText').val('');
                    $('#reviewRating').val('1');
                    $('#reviewList').prepend('<div class="reviewItem">\n <div>On ' + data['date'] + ', ' + data['userName'] + ' said: </div> \n <div>' + data.text + '</div>\n <div>' + data.rating + '</div> \n </div>');
                    console.log(data);
                    alert('Review was successfully added');
                },
                error: function (data) {
                    console.log(data);
                },
            })
        }

        $("#formdata").submit(function (e) {
            e.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                url: '@Url.Action("UploadPhotos", "Place")',
                type: 'POST',
                data: formData,
                success: function (data) {
                    alert(data)
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });
    </script>
}